// панель ссылок на контакты в секции список учасников

.personal-txt {
   padding-top: 30px;
   padding-bottom: 30px;
}
.personal-name {
   color: var(--color-text);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-bottom: 10px;
}
.personal-profession {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}
.netvork-svg {
   margin-top: 16px;

   display: flex;
   justify-content: center;
}
.icon-item {

   &:not(:last-child){
      margin-right: 10px;
   }
}


.icon-link {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   margin-right: 10px;
   border: none;
   border-radius: 50%;
   fill: #afb1b8;
   color: #ffffff;

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus{
      background-color: var(--background-btn-hover);
      fill: #ffffff;
   }
}
.icon-link:last-child{
   margin-right: 0;
}



.icon-netvork {
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   width: 20px;
   height: 20px;

   &:hover,
   &:focus{
      fill: currentColor;
   }
}