// подвал контакты

.footer {
   background-color: var(--secondary-background);
   padding-top: 60px;
   padding-bottom: 60px;
}
.container {
}
.container-footer {
   display: flex;
   align-items: baseline;
}
.footer-item {
}
.footer-item-grow {
   flex-grow: 1;
}
.logo-footer {
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
 
   margin-top: 20px;
}
.logo-span {
   color: var(--color-text-btn);
}
.address {
   margin-top: 20px;
   display: flex;
}
.minor-list {
}
.list {
}
.minor-list-item {

   &:not(:last-child){
      margin-bottom: 9px;
   }
}
.minor-address {
   color: #ffffff;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
 
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.minor-linc {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
 
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}